/*=========Reset==============*/
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}
img {
  display: block;
}
button {
  padding: 0;
}
a {
  text-decoration: none;
}

/*=============================*/

:root {
  --first-color-text: #434455;
  --second-color-text: #ffffff;
  --background-color: #ffffff;
  --first-color: #4d5ae5;
  --second-color: #2e2f42;
  --third-color: #f4f4fd;
  --fourth-color: #e7e9fc;
  --five-color: #8e8f99;
  --six-color: #fcfcfc;
  --hover-color: #404bbf;
  --hover-footer: #31d0aa;
  --footer-color: rgba(255, 255, 255, 0.1);
  --transition-duration-time: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*=======================Global========================*/
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: var(--first-color-text);
}
:focus {
  outline: 1px solid var(--hover-color);
}

.container {
  width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.content-box {
  display: flex;
}
/*====================================================*/
/*==============Logo===================================*/
.logo {
  font-family: Raleway, sans-serif;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: var(--second-color);
  margin-right: 76px;
}
.footer-logo {
  color: var(--third-color);
  margin-right: 0;
}
.logo-item {
  color: var(--first-color);
}
/*======================================================*/
/*=================HOVER FOCUS===========================*/
.navigation-list-link:hover,
.navigation-list-link:focus,
.header-page-link:hover,
.header-page-link:focus {
  color: var(--hover-color);
}
.buttons:hover,
.buttons:focus {
  background-color: var(--hover-color);
  color: var(--second-color-text);
}
.social-icons-link:focus,
.social-icons-link:hover {
  background-color: var(--hover-color);
}
.customers-list-link:focus,
.customers-list-link:hover {
  border: 1px solid var(--hover-color);
}
.customers-list-link:hover .customers-icon,
.customers-list-link:focus .customers-icon {
  fill: var(--hover-color);
}
.service-buttons:hover,
.service-buttons:focus {
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.footer-social-link:focus,
.footer-social-link:hover {
  background-color: var(--hover-footer);
}
.service-list-link:hover {
  border: 0.5px solid #f4f4fd;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.service-list-link:focus {
  border: 0.5px solid #f4f4fd;
  outline: 2px solid rgba(46, 47, 66, 0.08);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.modal-button:hover,
.modal-button:focus {
  background-color: var(--hover-color);
  fill: var(--background-color);
  border: 1px solid transparent;
}
.service-list-link:hover .service-list-overlay,
.service-list-link:focus .service-list-overlay {
  transform: translateY(0);
}
.modal-form-input:focus + .modal-form-icon {
  fill: var(--hover-color);
}
.modal-form-input:focus {
  border: 1px solid var(--hover-color);
}
.modal-checkbox:checked + .modal-checkbox-icon {
  fill: var(--hover-color);
  background-color: var(--hover-color);
  border: 1.25px solid var(--hover-color);
  border-radius: 2px;
}
.form-policy:hover,
.form-policy:focus {
  color: var(--hover-color);
}
/*========================================================*/
/*==================Links==================================*/
.navigation-list-link,
.header-page-link {
  text-decoration: none;
  color: inherit;
}
/*========================================================*/
/*===================Lists=================================*/
.navigation-list,
.header-page-list,
.main-lists,
.buttons-list,
.service-list,
.social-icons,
.customers-list {
  list-style: none;
}
.header-page-contacts {
  font-style: inherit;
}
/*=====================================*/
/*==================BUTTONS========*/
.buttons {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
.section-botton {
  background-color: var(--first-color);
  color: var(--second-color-text);
  cursor: pointer;
  margin-top: 48px;
  border: 1px solid transparent;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  transition: background-color var(--transition-duration-time),
    color var(--transition-duration-time);
}

.service-buttons {
  background-color: var(--third-color);
  color: var(--first-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  padding: 12px 24px;
  transition: background-color var(--transition-duration-time),
    color var(--transition-duration-time),
    box-shadow var(--transition-duration-time);
}

/*=================================*/
/*=============Titles============*/
.hero-title {
  color: var(--second-color-text);
  font-size: 56px;
  line-height: 1.07;
}
.titles {
  color: var(--second-color);
  font-weight: 500;
  text-align: center;
}
.main-title {
  font-size: 36px;
  line-height: 1.1;
  font-weight: 700;
  margin-bottom: 72px;
}
.section-title {
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}
/*=====================================*/
/*============BACKGROUND==================*/
.hero,
.footer {
  background: var(--second-color);
}
/*=========================================*/
/*===============HEADER=====================*/
.header-page {
  padding: 24px 0;
  border: 1px solid var(--fourth-color);
}
.navigation {
  display: flex;
}
.navigation-list {
  display: flex;
  column-gap: 40px;
}
.navigation-list-link {
  font-weight: 500;
  transition: color var(--transition-duration-time);
}
.header-page-contacts {
  margin-left: auto;
}
.header-page-list {
  display: flex;
  column-gap: 40px;
}
.header-page-link {
  transition: color var(--transition-duration-time);
}
.current {
  color: var(--hover-color);
  position: relative;
}
.current::after {
  content: "";
  position: absolute;
  bottom: -25px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--hover-color);
  border-radius: 2px;
}
/*===========================================*/
/*===============HERO=========================*/
.hero {
  margin: 0 auto;
  max-width: 1440px;
  text-align: center;
  padding: 188px 0;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bghero.jpg);
  block-size: cover;
  background-repeat: no-repeat;
}
/*===========================================*/
/*=============BENEFITS=======================*/
.benefits {
  padding-top: 120px;
}
.main-lists {
  display: flex;
  gap: 24px;
  align-items: center;
}
.benefits-title {
  margin-bottom: 8px;
  text-align: left;
}
.benefits-list-item {
  max-width: 264px;
}
.benefits-list-box {
  background-color: var(--third-color);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px 0;
  margin-bottom: 8px;
}
/*=============================================*/
/*==============PROJECTS=======================*/
.projects {
  padding: 120px 0;
}
.projects-list-item {
  background-image: linear-gradient(
    0deg,
    rgba(77, 90, 229, 0.1),
    rgba(77, 90, 229, 0.1)
  );
}
/*=============================================*/
/*================TEAM=========================*/
.team {
  padding: 120px 0;
  background-color: var(--third-color);
}
.team-list-item {
  background-color: var(--background-color);
  border: 1px solid var(--fourth-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-list-box {
  padding: 32px 0;
}
.team-text {
  text-align: center;
  padding-bottom: 8px;
}
.social-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.social-icons-link {
  width: 40px;
  height: 40px;
  background-color: var(--first-color);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition-duration-time);
}
.social-icon {
  fill: var(--third-color);
}
/*==============================================*/
/*=============CUSTOMER=========================*/
.customers {
  padding: 130px 0 120px 0;
}
.customers-list {
  display: flex;
  gap: 24px;
}
.customers-list-link {
  display: block;
  border: 1px solid var(--five-color);
  border-radius: 4px;
  padding: 15px 31px;
  transition: border var(--transition-duration-time);
}
.customers-icon {
  display: block;
  fill: var(--five-color);
  transition: fill var(--transition-duration-time);
}
/*==============================================*/
/*==============FOOTER============================*/
.footer {
  padding: 100px 0;
}
.footer-block {
  display: flex;
  align-items: baseline;
}
.footer-box {
  width: 264px;
  color: var(--third-color);
}
.footer-text {
  margin-top: 16px;
}
.footer-icons {
  margin: 0 80px 0 120px;
}
.footer-title {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: var(--second-color-text);
  margin-bottom: 16px;
}
.footer-social-link {
  background-color: var(--footer-color);
}
.social-icons-footer {
  gap: 16px;
}
.footer-form-item {
  width: 264px;
  height: 40px;
  padding: 0 8px;
  color: var(--second-color-text);
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-form-button {
  margin: 0 0 0 24px;
  padding: 8px 20px 6px 20px;
  display: inline-flex;
  /*align-items: baseline;*/
  gap: 16px;
}
/*.footer-button-text {
  display: inline-block;
}*/
/*.footer-button-icon {
  display: inline-block;
  align-self: baseline;
}*/

/*================================================*/

/*==============PORTFOLIO===========================*/
.main-page {
  padding-top: 96px;
  padding-bottom: 120px;
}
.buttons-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  padding-bottom: 72px;
}
.service-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}
.service-list-box {
  position: relative;
  overflow: hidden;
  color: var(--third-color);
}
.service-list-overlay {
  background-color: var(--first-color);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 1.5;
  padding: 40px 32px 0 32px;
  overflow-y: auto;
  transform: translateY(101%);
  transition: transform var(--transition-duration-time);
}
.service-list-link {
  color: var(--second-color);
  display: block;
  border: 1px solid var(--fourth-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
  transition: border var(--transition-duration-time),
    box-shadow var(--transition-duration-time);
}
.service-box {
  padding: 32px 0 32px 16px;
}
/*==================================================*/
/*=================MODAL============================*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity var(--transition-duration-time),
    visibilty var(--transition-duration-time);
}
.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 408px;
  min-height: 576px;
  padding: 72px 24px 24px 24px;
  background-color: var(--six-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
.modal-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal-button {
  position: absolute;
  top: 24px;
  right: 24px;
  padding: 7px;
  background-color: var(--fourth-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: background-color var(--transition-duration-time),
    fill var(--transition-duration-time), border var(--transition-duration-time);
}
.modal-form {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.modal-form-field {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.modal-form-text {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--second-color);
}
.modal-form-description {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.32;
  letter-spacing: 0.04em;
  color: var(--five-color);
}
.modal-box-input {
  position: relative;
}
.modal-form-input {
  width: 100%;
  height: 40px;
  font-size: 18px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 0 16px 0 38px;
  outline: none;
  transition: border var(--transition-duration-time);
}
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  fill: var(--second-color);
  transition: fill var(--transition-duration-time),
    border var(--transition-duration-time);
}
.modal-form-message {
  height: 120px;
  padding: 8px 16px;
  resize: none;
}
.modal-form-message::placeholder {
  font-family: inherit;
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: rgba(117, 117, 117, 0.5);
}
.modal-form-checkbox {
  flex-direction: row;
  align-items: center;
  margin: 8px 0 16px 0;
}
.modal-checkbox {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
}
.modal-checkbox-icon {
  margin-right: 8px;
  border: 1.25px solid var(--second-color);
  border-radius: 2px;
  fill: var(--six-color);
  transition: fill var(--transition-duration-time),
    background var(--transition-duration-time),
    border var(--transition-duration-time);
}
.form-policy {
  display: inline;
  color: var(--first-color);
  transition: color var(--transition-duration-time);
  text-decoration: underline;
}
.modal-form-button {
  min-width: 169px;
  align-self: center;
  padding: 16px 0;
  margin: 0;
}
/*==================================================*/
